*{
    margin: 0;
    padding: 0;
}

.justify-content-center{
    display: flex;
    justify-content: center;
}

body{
    background-color: #272727;
}

.btn{
    color: #ffffff;
    font-size: 0.9em;
    text-transform: uppercase;
    padding: 0.7em;
    margin: 1em 0 0.5em 0;
    background-color: #474747;
    border: 2px solid #FF9D1C;
}

header{
    width: 100%;
    height: 85px;
    background-color: #272727;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.cabecalho{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho ul li, .cabecalho a{
    list-style-type: none;
    color: #FF9D1C;
}

.cabecalho img{
    width: 3.2em;
    margin-top: 0.5em;
}

.cabecalho li{
    list-style-type: none;
}

#menu ul li, #menu ul a{
    text-decoration: none;
    list-style: none;
    padding: 10px 10em 10px 0;
    color: #FF9D1C;
}

#menu{
    background-color: #272727;
    position: absolute;
    top: 85px;
    width: 60%;
    padding: 2em 3em;
    display: none;
    z-index: 2;
}

/* inicio da pagina de login */
.banner{
    background-image: url(../imagens/Imagem\ 1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 239px;
}
.sombra{
    width: 273px;
    height: 347px;
    box-shadow: 20px 20px 30px  rgba( 0,0,0,0.5);
    position: absolute;
    top: 199px;
     left: 76px;
}

.forma{
    clip-path: polygon(0 8%, 15% 8%, 15% 0%, 85% 0%, 85% 8%, 100% 8%, 100% 100%, 0 100%);  ;
     background-color: #272727;
     width: 273px;
     height: 347px;   
     text-align: center;  
     color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.campo{
    padding: 10px;
text-align: center;
    align-items: center;

}

.campo label{
    margin: 10px 0;
}

.campo input{
    border: none;
    background-color: #272727;
    border-bottom: solid 1px #FF9100 ;
    color: white;
}

.campo:focus{
    border: none;
}

/* style da pagina de cadastro */

.cadastro{
    background-image: url("../imagens/banner\(1\).png");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
}

.titulo_pagina{
    color: white;
    background-color: #272727;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    margin: 8em 4em 0 4em;
    font-size: 0.8em;
}

.cadastro_usuario{
    margin: 0em 1.5em 0 1.5em;
    padding: 2em 1em;
    background-color: #272727;
    color: #ffffff;
    box-shadow: 8px 8px 10px #000000;
}

.campo{
    text-transform: uppercase;
	display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0;
}

input[type="text"], 
input[type="date"],
input[type="email"],
input[type="password"],
select{
    border: none;
    background-color: #272727;
    color: #ffffff;
    border-bottom: 1px solid #FF9D1C;
    width: 60%;
    padding: 0.5em;
}

.check{
    display: flex;
    margin: 0 auto;
    max-width: 70%;
    font-size: 1.1em ;
}

.formulario{
    display: flex;
    justify-content: center;
}